/*=== Space outside the grid  ===*/
.container {
  padding-left: 32px;
  padding-right: 32px;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}
body:before {
  content: "mobile";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 0, 0.6);
  display: block;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
}
.row {
  width: 100%;
  margin: 0 auto;
}
/* To fix the grid into a certain size, set max-width to width */
.row .row {
  min-width: 0;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
img {
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.map_canvas img {
  max-width: none!important;
}
/*=== 768> ===*/
@media screen and (min-width: 768px) {
  body:before {
    content: "mq-alpha";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 128, 0, 0.6);
    display: block;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
  }
  .col {
    margin-left: 4.4%;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none;
  }
  .col:first-child {
    margin-left: 0;
  }
  [class*="col"] + [class*="col"]:last-child,
  .mq-alpha-end {
    float: right;
  }
  [class*="col"] + [class*="col"].end {
    float: left;
  }
  .span1,
  .mq-alpha-resize-to1 {
    width: 4.3%;
  }
  .span2,
  .mq-alpha-resize-to2 {
    width: 13%;
  }
  .span3,
  .mq-alpha-resize-to3 {
    width: 21.7%;
  }
  .span4,
  .mq-alpha-resize-to4 {
    width: 30.4%;
  }
  .span5,
  .mq-alpha-resize-to5 {
    width: 39.1%;
  }
  .span6,
  .mq-alpha-resize-to6 {
    width: 47.8%;
  }
  .span7,
  .mq-alpha-resize-to7 {
    width: 56.5%;
  }
  .span8,
  .mq-alpha-resize-to8 {
    width: 65.2%;
  }
  .span9,
  .mq-alpha-resize-to9 {
    width: 73.9%;
  }
  .span10,
  .mq-alpha-resize-to10 {
    width: 82.6%;
  }
  .span11,
  .mq-alpha-resize-to11 {
    width: 91.3%;
  }
  .span12,
  .mq-alpha-resize-to12 {
    width: 100%;
  }
  .row > .offset1 {
    margin-left: 13.1%;
  }
  .row > .offset1:first-child {
    margin-left: 8.7%;
  }
  .row > .offset2 {
    margin-left: 21.799999999999997%;
  }
  .row > .offset2:first-child {
    margin-left: 17.4%;
  }
  .row > .offset3 {
    margin-left: 30.5%;
  }
  .row > .offset3:first-child {
    margin-left: 26.1%;
  }
  .row > .offset4 {
    margin-left: 39.199999999999996%;
  }
  .row > .offset4:first-child {
    margin-left: 34.8%;
  }
  .row > .offset5 {
    margin-left: 47.9%;
  }
  .row > .offset5:first-child {
    margin-left: 43.5%;
  }
  .row > .offset6 {
    margin-left: 56.6%;
  }
  .row > .offset6:first-child {
    margin-left: 52.2%;
  }
  .row > .offset7 {
    margin-left: 65.30000000000001%;
  }
  .row > .offset7:first-child {
    margin-left: 60.900000000000006%;
  }
  .row > .offset8 {
    margin-left: 74%;
  }
  .row > .offset8:first-child {
    margin-left: 69.6%;
  }
  .row > .offset9 {
    margin-left: 82.7%;
  }
  .row > .offset9:first-child {
    margin-left: 78.3%;
  }
  .row > .offset10 {
    margin-left: 91.4%;
  }
  .row > .offset10:first-child {
    margin-left: 87%;
  }
  .row > .offset11 {
    margin-left: 100.10000000000001%;
  }
  .row > .offset11:first-child {
    margin-left: 95.7%;
  }
  .row > .offset12 {
    margin-left: 108.80000000000001%;
  }
  .row > .offset12:first-child {
    margin-left: 104.4%;
  }
  .row > .push2 {
    left: 17.4%;
  }
  .row > .push3 {
    left: 26.1%;
  }
  .row > .push4 {
    left: 34.8%;
  }
  .row > .push5 {
    left: 43.5%;
  }
  .row > .push6 {
    left: 52.2%;
  }
  .row > .push7 {
    left: 60.900000000000006%;
  }
  .row > .push8 {
    left: 69.6%;
  }
  .row > .push9 {
    left: 78.3%;
  }
  .row > .push10 {
    left: 87%;
  }
  .row > .pull2 {
    right: 17.4%;
  }
  .row > .pull3 {
    right: 26.1%;
  }
  .row > .pull4 {
    right: 34.8%;
  }
  .row > .pull5 {
    right: 43.5%;
  }
  .row > .pull6 {
    right: 52.2%;
  }
  .row > .pull7 {
    right: 60.900000000000006%;
  }
  .row > .pull8 {
    right: 69.6%;
  }
  .row > .pull9 {
    right: 78.3%;
  }
  .row > .pull10 {
    right: 87%;
  }
  .split .col,
  .shunt {
    float: none;
    margin-left: 0;
    min-height: 1px;
    position: relative;
    width: 100%;
    clear: both;
  }
}
/*=== end 768> ===*/
/*=== 992> ===*/
@media screen and (min-width: 992px) {
  body:before {
    content: "mq-beta";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 128, 128, 0.6);
    display: block;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
  }
  .split .col,
  .shunt {
    margin-left: 4.4%;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none;
  }
  .split .col:first-child,
  .shunt:first-child {
    margin-left: 0;
  }
  .span1,
  .mq-beta-resize-to1,
  .split .span1 {
    width: 4.3%;
  }
  .span2,
  .mq-beta-resize-to2,
  .split .span2 {
    width: 13%;
  }
  .span3,
  .mq-beta-resize-to3,
  .split .span3 {
    width: 21.7%;
  }
  .span4,
  .mq-beta-resize-to4,
  .split .span4 {
    width: 30.4%;
  }
  .span5,
  .mq-beta-resize-to5,
  .split .span5 {
    width: 39.1%;
  }
  .span6,
  .mq-beta-resize-to6,
  .split .span6 {
    width: 47.8%;
  }
  .span7,
  .mq-beta-resize-to7,
  .split .span7 {
    width: 56.5%;
  }
  .span8,
  .mq-beta-resize-to8,
  .split .span8 {
    width: 65.2%;
  }
  .span9,
  .mq-beta-resize-to9,
  .split .span9 {
    width: 73.9%;
  }
  .span10,
  .mq-beta-resize-to10,
  .split .span10 {
    width: 82.6%;
  }
  .span11,
  .mq-beta-resize-to11,
  .split .span11 {
    width: 91.3%;
  }
  .span12,
  .mq-beta-resize-to12,
  .split .span12 {
    width: 100%;
  }
  .row > .offset1 {
    margin-left: 13.1%;
  }
  .row > .offset1:first-child {
    margin-left: 8.7%;
  }
  .row > .offset2 {
    margin-left: 21.799999999999997%;
  }
  .row > .offset2:first-child {
    margin-left: 17.4%;
  }
  .row > .offset3 {
    margin-left: 30.5%;
  }
  .row > .offset3:first-child {
    margin-left: 26.1%;
  }
  .row > .offset4 {
    margin-left: 39.199999999999996%;
  }
  .row > .offset4:first-child {
    margin-left: 34.8%;
  }
  .row > .offset5 {
    margin-left: 47.9%;
  }
  .row > .offset5:first-child {
    margin-left: 43.5%;
  }
  .row > .offset6 {
    margin-left: 56.6%;
  }
  .row > .offset6:first-child {
    margin-left: 52.2%;
  }
  .row > .offset7 {
    margin-left: 65.30000000000001%;
  }
  .row > .offset7:first-child {
    margin-left: 60.900000000000006%;
  }
  .row > .offset8 {
    margin-left: 74%;
  }
  .row > .offset8:first-child {
    margin-left: 69.6%;
  }
  .row > .offset9 {
    margin-left: 82.7%;
  }
  .row > .offset9:first-child {
    margin-left: 78.3%;
  }
  .row > .offset10 {
    margin-left: 91.4%;
  }
  .row > .offset10:first-child {
    margin-left: 87%;
  }
  .row > .offset11 {
    margin-left: 100.10000000000001%;
  }
  .row > .offset11:first-child {
    margin-left: 95.7%;
  }
  .row > .offset12 {
    margin-left: 108.80000000000001%;
  }
  .row > .offset12:first-child {
    margin-left: 104.4%;
  }
  .row > .mq-beta-push2,
  .row .push2 {
    left: 17.4%;
  }
  .row > .mq-beta-push3,
  .row .push3 {
    left: 26.1%;
  }
  .row > .mq-beta-push4,
  .row .push4 {
    left: 34.8%;
  }
  .row > .mq-beta-push5,
  .row .push5 {
    left: 43.5%;
  }
  .row > .mq-beta-push6,
  .row .push6 {
    left: 52.2%;
  }
  .row > .mq-beta-push7,
  .row .push7 {
    left: 60.900000000000006%;
  }
  .row > .mq-beta-push8,
  .row .push8 {
    left: 69.6%;
  }
  .row > .mq-beta-push9,
  .row .push9 {
    left: 78.3%;
  }
  .row > .mq-beta-push10,
  .row .push10 {
    left: 87%;
  }
  .row > .mq-beta-pull2,
  .row .pull2 {
    right: 17.4%;
  }
  .row > .mq-beta-pull3,
  .row .pull3 {
    right: 26.1%;
  }
  .row > .mq-beta-pull4,
  .row .pull4 {
    right: 34.8%;
  }
  .row > .mq-beta-pull5,
  .row .pull5 {
    right: 43.5%;
  }
  .row > .mq-beta-pull6,
  .row .pull6 {
    right: 52.2%;
  }
  .row > .mq-beta-pull7,
  .row .pull7 {
    right: 60.900000000000006%;
  }
  .row > .mq-beta-pull8,
  .row .pull8 {
    right: 69.6%;
  }
  .row > .mq-beta-pull9,
  .row .pull9 {
    right: 78.3%;
  }
  .row > .mq-beta-pull10,
  .row .pull10 {
    right: 87%;
  }
  .mq-beta-end {
    float: right;
  }
  .mq-alpha-end {
    float: left;
  }
}
/*=== end 992> ===*/
/*=== 1382> ===*/
@media screen and (min-width: 1382px) {
  
}
/*=== end 1382> ===*/
/* Nicolas Gallagher's micro clearfix */
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
.centered.col,
.centred.col {
  float: none;
  margin: 0 auto;
}
.block-grid {
  display: block;
  overflow: hidden;
  list-style-type: none;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.two-up {
  margin-left: -4%;
}
.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%;
  margin-bottom: 4%;
}
.block-grid.three-up {
  margin-left: -2%;
}
.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.3%;
  margin-bottom: 2%;
}
.block-grid.four-up {
  margin-left: -2%;
}
.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%;
  margin-bottom: 2%;
}
.block-grid.five-up {
  margin-left: -1.5%;
}
.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%;
  margin-bottom: 1.5%;
}
